@model Quizmint.Models.Project

@{
    ViewBag.Title = "Details";
}

<h4>Project Details</h4>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit Project", "Edit", "Projects", new { id = Model.Id }, new { @class = "btn btn-sm btn-primary" })
    @Html.ActionLink("Question list", "Index", "Questions", new { id = Model.Id }, new { @class = "btn btn-sm btn-primary" })
</p>
