@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>QuizMint is an on going project that is written in Microsoft ASP.NET MVC5. It utilized Database First development using Entity Framework.
    An instructor can create a quiz online that can be assigned to many students at the same time. 
    This project demonstrates multi-level parent/child relationship that allow record owner to create, view, edit and delete his/her own record. 
    It is currently run on Azure web app service.
</p>
