@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    2525 Moolmuang Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    858.555.0100
</address>

<address>
    <strong>Technical Support:  </strong><a href="mailto:support@quizmint.net">support@quizmint.net</a><br />
    <strong>Corporate Administrator:  </strong><a href="mailto:admin@quizmint.net">admin@quizmint.net</a>
</address>